$primary-palette: (
  50 : #f3f2fb,
  100 : #e1dff5,
  200 : #cecaee,
  300 : #bab5e7,
  400 : #aba5e1,
  500 : #9c95dc,
  600 : #948dd8,
  700 : #8a82d3,
  800 : #8078ce,
  900 : #6e67c5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #d5d1ff,
  A700 : #bdb8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$accent-palette: (
  50 : #f7faf6,
  100 : #eaf2e8,
  200 : #dce9d8,
  300 : #cee0c8,
  400 : #c4d9bd,
  500 : #b9d2b1,
  600 : #b2cdaa,
  700 : #aac7a1,
  800 : #a2c198,
  900 : #93b688,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e8ffe0,
  A700 : #d4ffc7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$warn-palette: (
  50 : #f8e9ea,
  100 : #ecc8cb,
  200 : #e0a4a9,
  300 : #d48087,
  400 : #ca646d,
  500 : #c14953,
  600 : #bb424c,
  700 : #b33942,
  800 : #ab3139,
  900 : #9e2129,
  A100 : #ffdadc,
  A200 : #ffa7ab,
  A400 : #ff747b,
  A700 : #ff5a63,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
