:host {
  .logout {
    border: none;
    background-color: #fff;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
