<header>
  <mat-toolbar color="primary" class="navbar">
    <span>Custom Toolbar</span>
    <div class="navbar-buttons">
      <!--<mat-slide-toggle
        color="accent"
        (toggle)="toggleTheme()"
      >
        Slide me!
      </mat-slide-toggle>-->
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon color="accent">wb_sunny</mat-icon>
      </button>
      <button mat-flat-button color="accent" class="logout" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
</header>
