<div [class]="'mat-typography app-frame mat-app-background app-wrapper ' + theme">
  <app-header [(theme)]="theme"></app-header>
  <app-breadcrumbs></app-breadcrumbs>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
