<div class="wrapper">
  <h1 class="heading-1">My Todo List</h1>
  <div class="todo-container">
    <div [ngClass]="{ 'todo-container': true }">
      <ng-container *ngIf="!editing">
        <button mat-raised-button
                color="primary"
                class="add-button"
                (click)="addTask()"
        >Add task
        </button>
      </ng-container>

      <ng-container *ngIf="editing">
        <button mat-raised-button
                color="primary"
                class="add-button"
                (click)="saveChanges()"
        >Save</button>
        <button mat-stroked-button
                class="add-button"
                (click)="cancel()"
        >Cancel</button>
      </ng-container>
    </div>

    <app-todo-progress [currentNumber]="taskList?.length"></app-todo-progress>

    <div class="task-list">
      <ng-container *ngFor="let task of taskList">
        <app-todo-task [task]="task"
                       (remove)="removeTask($event)"
                       (edit)="editTask($event)"
        ></app-todo-task>
      </ng-container>
    </div>
  </div>
</div>
