@import "app/todo/styles/tooltip";
@import "app/styles/theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.heading-1 {
  text-align: center;
  font-size: 32px !important;
  font-weight: 500 !important;
  padding-bottom: 40px;
}
