:host {
  .spinner-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    padding: 100px;
  }
}
